# IntelliJ
.idea/
*.iml

# Application Logs
logs/

# Mac OS X
.DS_Store

# MBT
BUILD/
RPMS/
SPECS/
SOURCES/
SRPMS/
rms-feeder/

# SBT
.sbt_completion_cache
.sbtserver
project/.sbtserver
project/.sbtserver.lock
project/boot/
project/plugins/project
project/sbt-ui.sbt
target/
